@import "macchiato.css";

* {
    border-radius: 0;
    font-family: 'Fira Code';
    font-size: 11pt;
    min-height: 0;
}

/* make everything visible */
/* #workspaces, #clock, #battery, #pulseaudio, #mpd, #network, #tray { */
/*     border-color: @red; */
/*     border-style: solid;  */
/*     border-width: 2px; */
/* } */

window#waybar {
    background: @base;
    color: @text;
}

tooltip {
	background: @base;
	border-width: 2px;
	border-style: solid;
	border-color: @mauve;
	color: @text;
}

tooltip label {
    color: @text;
}

#workspaces {
    background: @base;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#workspaces button {
    padding: 0 5px;
    color: @text;
    background-color: transparent;
}

#workspaces button.active {
    color: @mauve;
}

#workspaces button:hover {
    background: @base;
    color: @mauve;
    border: 0;
}

#clock, #battery, #pulseaudio, #workspaces, #mpd  {
    background: @base;
}


#network {
    padding-right: 15px;
    margin-right: 5px;
    background: @base;
    margin-top: 5px;
    margin-bottom: 5px;
}

#clock {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 5px;
}

#pulseaudio {
    padding-right: 15px;
    margin-right: 5px;
}

#custom-separator {
    color: @overlay0;
    font-weight: bold;
}


/* #custom-spotify { */
/*     background: #332E41; */
/*     margin-top: 5px; */
/*     margin-bottom: 5px; */
/*     padding-right: 15px; */
/*     padding-left: 15px; */
/*     border-radius: 15px; */
/* } */
