# comment
snippet [
	[${1:text}](https://${2:address})

snippet mi
	{{ < mathjax/inline > }$$ ${1:LaTeX} $$ {{ < /mathjax/inline > }}

snippet mb
	{{< mathjax/block >}}
	$$ ${1:LaTeX} $$
	{{< /mathjax/block >}}

